html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
  margin:0;
  padding:0;
  }
ul, ol ,li{
  list-style:none;
}
.show{
  display: block;
}
.hide{
  display: none;
}
html,body{
  height: 100%;
  font-family: "寰蒋闆呴粦";
}
body{
	position: relative;
}
/*棣栭〉*/
.bd{width: 640px;height:100%;margin:0 auto;overflow: hidden;background: url(http://www.eol.cn/html/uc/2017cases/img/bg.jpg)no-repeat;background-size:100% 100%;z-index: 999;position:relative}
.main{display: block;width: 490px;height: 286px;position: absolute;top: 55px;left:55px;z-index: 1000;}
.main ul{display: block;width: 490px;height: 130px;margin-bottom: 16px;}
.main ul li{display: block;width: 144px;height: 128px;border: 1px solid #FFFFFF;border-radius: 5%;float: left;margin-right: 16px;background: #bd3333;position: relative;color: #FFFFFF;text-align: center;font-size: 18px;}
.main li img{display: block;width: 146px;height:88px;margin-top: 10px;}
.main li a{display: block;width: 146px;height:128px;position: absolute;top: 0;color: #FFFFFF;text-align: center;text-decoration: none;font-size: 20px;line-height: 200px;}

.logo{width: 410px;height: 96px;position: absolute;bottom: 14.2%;left:18.8%;background: url(http://www.eol.cn/html/uc/2017cases/img/logo.png)no-repeat;background-size:100% auto ;}
.anli{width: 248px;height: 63px;display: block;position: absolute;bottom: 6.3%;left: 18.8%;}
.col{width: 160px;height: 63px;display: block;position: absolute;bottom: 6.3%;right: 17.7%;}

/*鎵嬫満缃戠珯*/
.sj{width: 640px;height: auto;margin: 0 auto}
.back{width: 100%;height: 53px;margin-top:20px ;}
.back img{width: 35px;height: 53px;float: right;margin-right:45px ;}
.sj .banner{width: 640px;height: 118px;background: url(http://www.eol.cn/html/uc/2017cases/img/shouji.jpg)no-repeat;background-size: 100% auto;}
.bottom{width: 640px;height: 61px;background: url(http://www.eol.cn/html/uc/2017cases/img/bottom.jpg)no-repeat;background-size: 100% auto;margin-top: 20px;}
.fl{width: 640px;height: 51px;background: url(http://www.eol.cn/html/uc/2017cases/img/fl.png)no-repeat center;margin-top: 20px;margin-bottom: 10px;}
.fl h2{display: block;width: 200px;height: 50px;font-size: 26px;line-height: 50px;color: #bf0303;text-align: center;margin: 0 auto;margin-top: 20px;margin-bottom: 10px;}
.sj .introduce{width: 100%;height: 130px;margin-top: 10px;}
.sj .leibie{display: block;width: 88px;height: 88px;float: left;margin-left: 45px;margin-top: 20px;}
.sj .jieshao{display: block;width: 450px;height: 120px;font-size: 20px;line-height: 24px;text-align: justify;text-indent: 2em;float: right;margin-right: 45px;}
.sj .demo{width: 100%;height: auto;margin-top: 10px;}
.demo li{display: block;width: 550px;height: 58px;background: #e6e5e5;border-radius:10px;margin-bottom: 5%;position: relative;}
.demo ul{display: block;width: 550px;height: auto;margin: 0 auto;}
.demo .fanh{display: block;width: 200px;margin: 0 auto;background: #BF0303;color: #FFFFFF;font-size: 24px;line-height: 58px;text-align: center;}
.bk{display: block;width: 200px;height: 58px;background: #BF0303;color: #FFFFFF;font-size: 24px;line-height: 58px;text-align: center;}
.demo h3{display: block;width: 300px;height:65px;line-height: 58px;color: #BF0303;position: absolute;top: 0;left: 8px;}
.demo img{display: block;width: 100px;height: 40px;position: absolute;top:8px;right: 15px;}
.demo a{display: block;width: 550px;height: 58px;position: absolute;top: 0px;right: 0px;color: #BF0303;text-decoration: none;font-size: 24px;line-height: 58px;font-weight: bold;padding-left: 8px;text-indent: 1em;}

/*720鍏ㄦ櫙*/
.qj{width: 640px;height: auto;margin: 0 auto;}
.qj .banner{width: 640px;height: 118px;background: url(http://www.eol.cn/html/uc/2017cases/img/quanjing.jpg)no-repeat;background-size: 100% auto;}
.qj .introduce{width: 100%;height: 190px;margin-top: 10px;}
.qj .leibie{display: block;width: 88px;height: 88px;margin-top: 20px;float: left;margin-left: 45px;}
.qj .jieshao{display: block;width: 450px;height: 170px;font-size: 20px;line-height: 24px;text-align: justify;text-indent: 2em;float: right;margin-right: 45px;}
.qj .demo{width: 100%;height: auto;margin-top:10px;}
/*钖呯緤姣�*/
.hym{width: 640px;height: auto;margin: 0 auto;}
.hym .banner{width: 640px;height: 118px;background: url(http://www.eol.cn/html/uc/2017cases/img/yang.jpg)no-repeat;background-size: 100% auto;}
.hym .introduce{width: 100%;height: 190px;margin-top: 10px;}
.hym .leibie{display: block;width: 88px;height: 88px;margin-top: 20px;float: left;margin-left: 45px;}
.hym .jieshao{display: block;width: 450px;height: 180px;font-size: 20px;line-height: 24px;text-align: justify;text-indent: 2em;float: right;margin-right: 45px;}
.hym .demo{width: 100%;height: auto;margin-top: 10px;}
/*瑙嗛璁胯皥*/
.ft{width: 640px;height: auto;margin: 0 auto;}
.ft .banner{width: 640px;height: 118px;background: url(http://www.eol.cn/html/uc/2017cases/img/shipin.jpg)no-repeat;background-size: 100% auto;}
.ft .introduce{width: 100%;height: 190px;margin-top: 10px;}
.ft .leibie{display: block;width: 88px;height: 88px;margin-top: 20px;float: left;margin-left: 45px;}
.ft .jieshao{display: block;width: 450px;height: 170px;font-size: 20px;line-height: 24px;text-align: justify;text-indent: 2em;float: right;margin-right: 45px;}
.ft .demo{width: 100%;height: auto;margin-top: 10px;}
/*鎺屼笂鏍″洯*/
.zsxy{width: 640px;height: auto;margin: 0 auto;}
.zsxy .banner{width: 640px;height: 118px;background: url(http://www.eol.cn/html/uc/2017cases/img/zhangshang.jpg)no-repeat;background-size: 100% auto;}
.zsxy .introduce{width: 100%;height: 150px;margin-top: 10px;}
.zsxy .leibie{display: block;width: 88px;height: 88px;margin-top: 20px;float: left;margin-left: 45px;}
.zsxy .jieshao{display: block;width: 450px;height: 150px;font-size: 20px;line-height: 24px;text-align: justify;text-indent: 2em;float: right;margin-right: 45px;}
.zsxy .demo{width: 100%;height: auto;margin-top: 10px;}
/*鎼滅储鎺掑悕*/
.sspm{width: 640px;height: auto;margin: 0 auto;}
.sspm .banner{width: 640px;height: 118px;background: url(http://www.eol.cn/html/uc/2017cases/img/shousuo.jpg)no-repeat;background-size: 100% auto;}
.sspm .introduce{width: 100%;height: 220px;margin-top: 10px;}
.sspm .leibie{display: block;width: 88px;height: 88px;margin-top: 45px;float: left;margin-left: 45px;}
.sspm .jieshao{display: block;width: 450px;height: 220px;font-size: 20px;line-height: 24px;text-align: justify;text-indent: 2em;float: right;margin-right: 45px;}
.sspm .demo{width: 100%;height: auto;margin-top: 10px;}
.tupian{width: 100%;height: 190px;}
.tupian img{width: 310px;height: auto;margin: 0 5px;float: left;}

/*鑸媿瑙嗛*/
.hpsp{width: 640px;height: auto;margin: 0 auto;}
.hpsp .banner{width: 640px;height: 118px;background: url(http://www.eol.cn/html/uc/2017cases/img/hangpai.jpg)no-repeat;background-size: 100% auto;}
.hpsp .introduce{width: 100%;height: 170px;margin-top: 10px;}
.hpsp .leibie{display: block;width: 88px;height: 88px;margin-top: 20px;float: left;margin-left: 45px;}
.hpsp .jieshao{display: block;width: 450px;height: 170px;font-size: 20px;line-height: 24px;text-align: justify;text-indent: 2em;float: right;margin-right: 45px;}
.hpsp .demo{width: 100%;height: auto;margin-top: 10px;}

/*鍏跺畠瑙嗛妗堜緥*/
.qtspal{width: 640px;height: auto;margin: 0 auto;}
.qtspal .banner{width: 640px;height: 118px;background: url(http://www.eol.cn/html/uc/2017cases/img/qtspal.jpg)no-repeat;background-size: 100% auto;}
.qtspal .introduce{width: 100%;height: 160px;margin-top: 10px;}
.qtspal .leibie{display: block;width: 88px;height: 88px;margin-top: 20px;float: left;margin-left: 45px;}
.qtspal .jieshao{display: block;width: 450px;height: 150px;font-size: 20px;line-height: 24px;text-align: justify;text-indent: 2em;float: right;margin-right: 45px;}
.qtspal .demo{width: 100%;height: auto;margin-top: 10px;}


/*H5灏忓簲鐢�*/
.hxyy{width: 640px;height: auto;margin: 0 auto;}
.hxyy .banner{width: 640px;height: 118px;background: url(http://www.eol.cn/html/uc/2017cases/img/hxyy.jpg)no-repeat;background-size: 100% auto;}
.hxyy .introduce{width: 100%;height: 160px;margin-top: 10px;}
.hxyy .leibie{display: block;width: 88px;height: 88px;margin-top: 20px;float: left;margin-left: 45px;}
.hxyy .jieshao{display: block;width: 450px;height: 150px;font-size: 20px;line-height: 24px;text-align: justify;text-indent: 2em;float: right;margin-right: 45px;}
.hxyy .demo{width: 100%;height: auto;margin-top: 10px;}

.foot{width: 640px;height: 61px;background: url(http://www.eol.cn/html/uc/2017cases/img/bottom.jpg)no-repeat;background-size: 100% auto;position: fixed;bottom:0}
